body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color:  #1a5c2d;
    color: white;
}

nav h1 {
    font-size: 20px;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul,li,a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

nav ul, li, a:hover {
    color: #aac4e0;
}

.deportes {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    background-color: #f0f4f8;
}


.deportes img {
    width: 30%;
    border-radius: 10px;
}

h2 {
    text-align: center;
    padding: 30px;
    background-color: #f0f4f8;
    margin: 0;
}

.deportes button {
    padding: 10px 20px;
    background-color: #1a3a5c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}