body {
    background-image: url('../imagenes/fondo.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contenedor1 {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
   
    
}

#contenedor1 h2 {
    align-self: flex-start;
    margin-bottom: 20px;
}


